.header-activity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chart-title{
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
}
.chart-legend{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798C;
    display: flex;
}
.chart-legend li {
    display: flex;
    align-items: center;
    gap: 0.625em;
}
.chart-legend li:before {
    display: block;
    content: '';
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
}

li:first-child:before {
    background-color: #282D30;
 }

li:last-child:before {
    background-color:#E60000;
}
.chart-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px 6px;
    background-color:#E60000;
    color: white;
    font-size: 7px;
}
