.chart-title-session{
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding: 20px 20px;

}
.chart-tooltip-session{
    width:39px;
    height:25px;
    color: black;
    background-color:white;
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 24px;
    text-align: center;
}
