.header {
    width: 100%;
    height: 91px;
    background-color: #020203;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: baseline;
}

.header-logo {
    width: 30%;
    height: 61px;
    margin: auto;
    padding: 20px;
}

.header-menu {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.header-menu-link {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
