.homepage {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.section-header {
    margin: 50px 0 0 50px;
}

.section-title {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    color: black;
    text-align: left;
}

.section-secondary {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-align: left;
}

.homepage-grid {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 50px;
}

.chart-average-sessions {
    width: 258px;
    height: 263px;
    background: #FF0000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.chart-activity {
    margin-bottom: 30px;
    background: #FBFBFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    padding: 30px;
    margin-left: 50px;
}

.chart-performance {
    width: 258px;
    height: 263px;
    background: #282D30;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.chart-score {
    width: 258px;
    height: 263px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.chart-activity-stats {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.chart-sessions-performance-score {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
}

.stats {
    width: 30%;
    margin-left: 30px;

}

.page-error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 90px;
}

.page-error404-title {
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #FF0000;
}

.page-error404-secondary {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #FF0000;
    margin-block-start: 0;
    margin-block-end: 0;
}

.page-error404-link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 159px;
    margin-top: 182px;
    color: #FF0000;
    text-decoration: underline;
}

@media screen and (min-width: 945px) and (max-width: 1345px ) {
    .section-header {
        margin: 20px 0 0 20px;
    }

    .homepage-grid {
        flex-direction: column-reverse;
    }

    .chart-activity {
        margin-left: 20px;
    }

    .chart-activity-stats {
        width: 100%;
    }

    .stats {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 0;
    }

    .chart-sessions-performance-score {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 0px;
    }
}
