.homepage{
    display: flex;
    flex-direction: column;
    padding: 50px;

}
.section-header{

}
.section-title{
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    color: black;
    text-align: left;
}
.section-secondary{
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-align: left;
}
.homepage-grid{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.chart-average-sessions{
    width: 258px;
    height: 263px;
    background: #FF0000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}
.chart-activity{
    margin-bottom: 30px;
    background: #FBFBFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    padding: 30px;
}
.chart-performance{
    width: 258px;
    height: 263px;
    background: #282D30;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}
.chart-score{
    width: 258px;
    height: 263px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}
.chart-activity-stats{
    display: flex;
    flex-direction: column;

}
.chart-sessions-performance-score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page-error404{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 90px;
}
.page-error404-title{
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-block-start: 0;
    margin-block-end:0;
    color: #FF0000;
}
.page-error404-secondary{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #FF0000;
    margin-block-start: 0;
    margin-block-end:0;
}
.page-error404-link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 159px;
    margin-top: 182px;
    color: #FF0000;
    text-decoration: underline;
}
