.chart-title-score{
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding: 20px 20px;
}
.chart-legend-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95px;
    margin: auto;
}
.chart-legend-score-1{
    color: #282D30;
    font-size: 32px;
}
.chart-legend-score-2{
    text-align: center;
    font-size: 16px;
    color: #282D30;
    opacity: 0.8;
}
